.div1{
    margin-left: 30px;
}
.div1 img{
    width: 170px;
    height: 170px;    
}
.div1-img{
    margin-left: 30px; 
    width: 100%;
}

.text{
    text-align: center;
    margin-top: 10px;
}

.key, .value{
    text-align: left;
    padding-left: 45px;
    width: 25%;
    height: 130px;
    float: left;
    line-height: 25px;
}
.value{
    padding-left: 50px;
}

.blue{
    color:.00c2ff;
}
.part2 div{
    height: 110px;
}

.part3{
    margin-top: 15px; height: 70px;
    height: 110px;
}

.key1{
    text-align: left;
    float: left;
    line-height: 25px;
    padding-left: 35px;
}

.value1{
    text-align: left;
    float: left;
    line-height: 25px;
    padding-left: 5px
}

.key2, .value2{
    text-align: left;
    padding-left: 45px;
    width: 270px;
    height: 200px   ;
    float: left;
    line-height: 25px;
}
.key2{
    text-align: left;
    float: left;
    line-height: 25px;
    padding-left: 35px;
}

.value2{
    text-align: left;
    float: right;
    line-height: 25px;
    padding-left: 5px;
    width: 270px;
}
.indent1{
    margin-left: 35px;
}
.indent2{
    list-style: none;
}
.tag{
    width: 120px;
    height: 30px;
    background-color: .f5f3f3;
    text-align: center;
    border: 1px solid rgb(81, 86, 86);
    float: left;
    margin-left: 18px;
    margin-top: -8px;
    padding: 9px 0 0 0;
}
.chart{
    width: 100%;height: 272px; margin: 10px 0; border-bottom: 2px solid rgb(81, 86, 86);
}